.footer {
  padding: 25px;
  text-align: right;
}
.about-us {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-decoration: underline;
  display: inline-block;
}
.about-us:visited, .about-us:hover, .about-us:active {
  color: #fff;
  text-decoration: underline;
}
