.footer {
  padding: 25px;
  text-align: right;
}
.about-us {
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  display: inline-block;
  color: #808080;
}
.about-us:visited, .about-us:hover, .about-us:active {
  color: #808080;
  text-decoration: underline;
}
