.navbar {
  background-color: #f4f5f7;
}
.brand {
  padding: 25px;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  font-weight: 700;
  color: #4b508d;
}
.brand:visited, .brand:hover, .brand:active {
  text-decoration: none;
}
