html, body {
  height: 100%;
}
body {
  background-color: #fff;
}

.header {
  background-color: #f4f5f7;
}
@media (min-width: 570px) {
  .header {
    margin-top: -70px;
    padding-top: 14px;
  }
}
.city-input {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 15px;
}
.check-in-col {
  margin-bottom: 15px;
}
.check-in {
  width: 50%;
  border-radius: 2px 0 0 2px;
}
.check-out {
  width: 50%;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
.tags {
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px #e3e3e3;
  padding: 6px 9.5px 0 9.5px;
  margin-bottom: 15px;
  min-height: 46px;
}
@media (min-width: 570px) {
  .tags {
    margin-left: 10px;
  }
}
.tag {
  padding: 6px 9px;
  background-color: #686c9e;
  color: #fff;
  border-radius: 3px;
  margin: 0 3.5px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  margin-bottom: 6px;
}
.header-extra {
  font-size: 12px;
  margin-bottom: 15px;
}

.hostels-container {
  background-color: #fff;
  padding-top: 10px;
  height: 100%;
  padding-bottom: 35px;
}
.loader {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 18px;
}
.loader-gif {
  margin-top: 10px;
}
.hostel {
  margin-bottom: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.hostel-image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 250px;
}
.hostel-label {
  background-color: #202020;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 11px 19px;
  position: absolute;
  top: 20px;
  z-index: 2;
  max-width: 200px;
}
.hostel-price {
  background-color: #202020;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 11px 19px;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 2;
}
.hostel-url {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.image-controller-left {
  float: left;
}
.image-controller-right {
  float: right;
}
.image-controller-left, .image-controller-right {
  font-weight: 700;
  line-height: 220px;
  font-size: 42px;
  padding: 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #fff;
}
.image-controller-left:hover, .image-controller-right:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.hostel-name {
  position: absolute;
  left: 28px;
  bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
.hostel-name:link, .hostel-name:hover, .hostel-name:active, .hostel-name:visited {
  color: #fff;
}
.hostel-tags {
  padding: 15px;
  background-color: #f4f5f7;
}
.hostel-tags-copy {
  margin-bottom: 25px;
}
.hostel-tag-col {
  margin-bottom: 10px;
}
.fa-heart, .fa-heart-o {
  color: #f3565b;
  margin-right: 5px;
}
.hostel-reviews {
  height: 200px;
  background-color: #fff;
  padding: 30px;
}
.hostel-reviews-author {
  text-align: right;
}
.show-more {
  width: 100%;
  height: 45px;
  border-radius: 2px;
  background-color: #48abcb;
  box-shadow: 0 2px 0 0 #398296;
  border: none;
  margin-bottom: 50px;
  color: #fff;
  outline: none;
}

.at-icon-wrapper {
  width: 25px !important;
  height: 25px !important;
}
.at-icon-wrapper svg {
  width: 25px !important;
  height: 25px !important;
}
