.header {
  margin-top: -70px;
  padding-top: 14px;
}
.city-input {
  width: 100%;
  border-radius: 2px;
}
.check-in {
  width: 50%;
  border-radius: 2px 0 0 2px;
}
.check-out {
  width: 50%;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
.tags-row {
  margin-top: 15px;
}
.tags {
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px #e3e3e3;
  margin-left: 10px;
  padding: 6px 9.5px;
}
.tag {
  padding: 6px 9px;
  background-color: #686c9e;
  color: #fff;
  border-radius: 3px;
  margin: 0 3.5px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

.hostels {
  margin-top: 15px;
}
.hostel-col-left {
  padding-left: 0;
  padding-right: 5px;
}
.hostel-col-right {
  padding-right: 0;
  padding-left: 5px;
}
.hostel {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 220px;
  margin-bottom: 10px;
}
.hostel-name {
  position: absolute;
  left: 28px;
  bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
